<div class="row">
    <div class="col-sm-12 p-0">
        <div id="app-carousel-wrapper" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/images/one.jpg" height="500px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/three.jpg" height="500px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/two.jpg" height="500px" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>